<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Template>Normal.eit</Template><TotalTime>201</TotalTime><Application>Yozo_Office</Application><Pages>2</Pages><Words>162</Words><Characters>1076</Characters><Lines>70</Lines><Paragraphs>39</Paragraphs><CharactersWithSpaces>1352</CharactersWithSpaces><Company>Department of Education</Company></Properties>